.search-bar {
    position: relative;
    width: 100%;
    border-radius: 12px;
    /* border: 2px solid rgb(136, 135, 135) */
}

.search-bar input {
    box-sizing: border-box;
    width: 100%;
    padding: 6px 32px 6px 12px;
    color: rgba(87, 86, 86, 0.796);
    border-radius: 15px;
    border: 2px solid #ececec;

    outline: none;
    box-shadow: none;

    /* optional: smooth border color on focus */
    transition: border-color 0.2s;
}

.search-bar input::placeholder {
    color: rgba(150, 149, 149, 0.796);
}

.search-bar input:focus {
    border-color: none;
    /* optional: highlight on focus */
}

.search-bar .search-icon {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: #84bdf6;
    pointer-events: none;
}