.home {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/sverige43.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0px;
    overflow-y: auto;
    /* padding-top: 2rem; */
}

main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 3rem;
}

.title {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    margin: 0 auto;
    color: #fff;
}

.terms {
    border-radius: 25px;
    padding: 2.5rem;
    background-color: #fff;
    color: #747070;
    width: 50%;
    margin: 0 auto;
    margin-top: 2rem;
    white-space: pre-line;
    line-height: 1.5;
    text-align: center;
    font-weight: 600;
}

.close {
    font-size: 1rem;
    background: #089e1e;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 1rem 3rem;
    outline: none;
    cursor: pointer;
    margin: 2rem 0 auto;
}