.home {
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.home::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('https://storage.123fakturera.se/public/wallpapers/sverige43.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 3rem 0;
    width: 100%;
    /* margin-bottom: 2rem; */
}

.title {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    margin: 0 auto;
    color: #fff;
}

.terms {
    box-sizing: border-box;
    border-radius: 25px;
    padding: 3rem;
    background-color: #fff;
    color: #747070;
    max-width: 700px;
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    line-height: 1.5;
    text-align: center;
    /* font-weight: 600; */
}


.close,
.accept {
    font-size: 1rem;
    background: #089e1e;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 1rem 3rem;
    outline: none;
    cursor: pointer;
    margin: 2rem 0 auto;
}

@media screen and (max-width: 868px) {
    .terms {
        font-size: 14px;
    }
}