.price-list-page {
    padding: 1rem 4rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* Fill parent height */
    overflow: hidden;
    /* Prevent this container from scrolling */
}

/* Main container for search + actions */
.action-container {
    flex-wrap: nowrap;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    /* flex-wrap: wrap; */
}

/* Search section */
.search-section {
    position: relative;
    flex: 1;
    /* take available space */
    min-width: 200px;
    /* don’t shrink too much */
    max-width: 300px;
    /* optional cap */
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Action buttons */
.action-container .action-buttons {
    display: flex;
    max-width: 500px;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* Styles specific for tablets */
@media (max-width: 800px) {

    .price-list-page {
        padding: 0px;
        width: 100%;
    }

    .action-container {
        flex-direction: column;
        gap: 10px;
        width: 100%;
        padding: 1rem;
        box-sizing: border-box;
    }

    .search-section,
    .action-buttons {
        width: 100%;
        max-width: 100%;
        /* full width */
    }


    .action-container .action-buttons {
        justify-content: space-between;
        width: 100%;
        max-width: 100%;
        flex-wrap: wrap;
        gap: 8px;
    }

}