.business-details .form {
    box-sizing: border-box;
    position: relative;
    background-color: white;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    width: clamp(350px, 100%, 500px);
    padding: 1rem 2rem;
    row-gap: 12px;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 0px 40px rgba(105, 146, 240, 0.614);
}

.business-details .form:hover {
    box-shadow: 0 0px 40px rgba(105, 146, 240, 0.614);
}

.business-details .form label {
    padding-left: 8px;
    font-weight: 600;
    padding-top: 7px;
}

.business-details .form span {
    margin: 0.5rem 0;
}

.business-details .form input {
    border: 1px solid rgba(113, 161, 244, 0.336);
    border-radius: 15px;
    color: gray;
    padding: 4px 10px;
}

.business-details .form input:focus {
    border: 1px solid rgb(113, 161, 244);
    box-shadow: 0 0px 5px rgba(89, 133, 234, 0.614);
    outline: none;
}

.business-details .form .details {
    display: grid;
    grid-template-columns: 30% 70%;
}

.business-details .form .postcode {
    display: grid;
    grid-template-columns: 30% 20% 10% 40%;
}

.business-details .form .sub-details {
    display: grid;
    grid-template-columns: 30% 65%;
}

@media (max-width: 800px) {
    .business-details .form {
        box-shadow: 0 0px 20px rgba(147, 174, 239, 0.614);
    }
}