.business-logo-container {
    box-sizing: border-box;
    background-color: white;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    width: clamp(350px, 100%, 400px);
    max-height: fit-content;
    padding: 1rem 2rem;
    padding-top: 0;
    row-gap: 10px;
    border-radius: 15px;
    box-shadow: 0 0px 50px rgba(147, 174, 239, 0.614);
}

.business-logo-container:hover {
    box-shadow: 0 0px 50px rgba(105, 146, 240, 0.614);
}

.business-logo-container .title {
    color: rgb(81, 81, 81);
    font-weight: normal;
    font-size: 1rem;
    border-bottom: 1px solid rgba(137, 136, 136, 0.371);
    padding: 0.6rem;
    flex: 1;
    max-height: fit-content;
    width: 95%;
}

.business-logo-container img {
    size: 100px;
    width: 100px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 0.5rem;
}

.business-logo-container .action-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.business-logo-container .action-buttons button svg {
    font-size: 1rem;
    color: hsl(228, 88%, 64%);

}

.business-logo-container .action-buttons button img {
    width: 15px;
    height: 15px;
    margin: 0;
}

.business-logo-container .action-buttons button {
    color: rgba(127, 127, 127, 0.868);
    border-radius: 1rem;
    border: 1px solid rgba(117, 150, 240, 0.496);
    padding: 5px 20px;
    background-color: white;
    box-shadow: 0 0px 5px rgba(147, 174, 239, 0.614);
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.business-logo-container .action-buttons button:hover {
    background: #b7c8f2b4;
    color: rgb(74, 112, 239);
    box-shadow: 0 0px 10px rgba(89, 132, 234, 0.508);
    transition: ease-in;
}

.use-logo-options {
    display: grid;
    grid-template-columns: 5fr 1fr 5fr;
    gap: 1px;
}

.action-buttons .use-logo-options button {
    text-align: center;
    display: flex;
    justify-content: center;
}

@media (max-width: 1024px) {
    .business-logo-container {
        width: clamp(350px, 100%, 500px);
    }
}

@media (max-width: 800px) {
    .business-logo-container {
        box-shadow: 0 0px 20px rgba(147, 174, 239, 0.614);
    }
}