* {
  margin: 0;
  font-family: Open Sans, sans-serif;
}

body {
  background-color: #7ca6ff;
}

#root {
  margin: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}